# Arquivos de compilação
/bin/
/obj/

# Arquivos de dependência
/packages/
/node_modules/

# Arquivos temporários
*.tmp
*.bak

# Arquivos de configuração do Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Arquivos de log
*.log

# Arquivos de cache
*.cache

# Arquivos de publicação
/wwwroot/

# Arquivos de ambiente
.env

# Arquivos de backup
*.bak
*.backup
*.old